@import "./main.css";

/* ============ */
/* Hero section */
/* ============ */
.hero-section {
  height: 100vh;
  background-color: var(--background-color);
  color: var(--white);
}

/* ====== */
/* Navbar */
/* ====== */

/* ============ */
/* Hero content */
/* ============ */

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero-content > p {
  margin-bottom: var(--medium-margin);
  font-weight: bold;
}
.crossed {
  text-decoration: line-through;
}
.secondary-slogan {
  color: var(--low-opacity-white);
  font-weight: lighter;
  text-align: left;
}

/* ===================== */
/* Scroll down indicator */
/* ===================== */

#scroll-down {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#inicator {
  margin-right: var(--small-margin);
  position: relative;
  width: 30px;
  height: 50px;
  border: 2px solid var(--low-opacity-white);
  border-radius: 50px;
  box-sizing: border-box;
}
#inicator::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--low-opacity-white);
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* ========= */
/* Portfolio */
/* ========= */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
  background-color: var(--contrast-color);
}

.image img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.image {
  position: relative;
  margin-top: var(--big-margin);
  margin-bottom: var(--big-margin);
  -webkit-box-shadow: 10px 15px 13px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 15px 13px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 15px 13px 1px rgba(0, 0, 0, 0.3);
}

figure {
  overflow: hidden;
}

.image-desription {
  width: 100%;
  height: 5rem;
  background-color: var(--background-color);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: var(--medium-padding);
  text-transform: uppercase;
}

/* ===== */
/* Intro */
/* ===== */

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: var(--white);
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transform: translateY(100%);
}

.hide {
  background: var(--background-color);
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

/* ========== */
/* Responsive */
/* ========== */
@media only screen and (min-width: 769px) {
  .hero-section {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
  }

  .hero-content,
  nav {
    padding: var(--medium-padding);
  }

  .logo,
  .secondary-slogan {
    font-size: var(--medium-font);
  }

  .menu-div,
  .close {
    font-size: var(--smaller-font);
  }

  .main-slogan {
    font-size: var(--large-font);
  }

  .content {
    width: 50%;
    padding: 0 var(--big-padding);
  }

  .nav-links li a,
  .intro-text {
    font-size: var(--big-font);
  }

  .scroll-down-text {
    font-size: var(--small-font);
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    width: 100%;
    display: block;
  }

  nav,
  .content {
    padding: var(--big-padding);
  }

  .logo {
    font-size: var(--small-font);
  }

  .main-slogan {
    font-size: var(--big-font);
  }

  .secondary-slogan,
  .intro-text,
  .nav-links li a {
    font-size: var(--medium-font);
  }

  .scroll-down-text {
    font-size: var(--small-font);
  }
}

@media only screen and (max-width: 425px) {
  .hero-section {
    width: 100%;
    display: block;
  }

  nav,
  .hero-content,
  .content {
    padding: var(--medium-padding);
  }

  .logo,
  .secondary-slogan,
  .nav-links li a {
    font-size: var(--small-font);
  }

  .main-slogan {
    font-size: var(--medium-font);
  }

  .intro-text,
  .scroll-down-text {
    font-size: var(--smaller-font);
  }
}

@media only screen and (max-width: 375px) {
  .hero-section {
    width: 100%;
    display: block;
  }

  nav,
  .hero-content,
  .content {
    padding: var(--medium-padding);
  }

  .logo,
  .secondary-slogan,
  .nav-links li a,
  .intro-text {
    font-size: var(--smaller-font);
  }

  .main-slogan {
    font-size: var(--small-font);
  }
}
