/* ====== */
/* Colors */
/* ====== */
:root {
  --background-color: #131b28;
  --secondary-color: #233758;
  --contrast-color: #f24452;
  --form-hover: #f0293a;
  --white: #ffffff;
  --low-opacity-white: #ffffff80;
}

/* ======= */
/* Margins */
/* ======= */
:root {
  --small-margin: 1rem;
  --medium-margin: 2.5rem;
  --big-margin: 5rem;
  --burger-icon: 0.25rem;
}

/* ======== */
/* Paddings */
/* ======== */
:root {
  --small-padding: 1rem;
  --medium-padding: 2rem;
  --big-padding: 5rem;
}

/* ============ */
/* Scroll wheel */
/* ============ */
/* ================ */
/* Hidden but works */
/* ================ */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ====================== */
/* Custom selection color */
/* ====================== */
::selection {
  background-color: var(--contrast-color);
  color: var(--white);
}

/* ========== */
/* Typography */
/* ========== */
body {
  font-family: "Raleway", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
.intro-text {
  font-family: "Archivo", sans-serif;
}
.secondary-slogan {
  font-family: "Poiret One", cursive;
}

/* ========= */
/* Font size */
/* ========= */
:root {
  --large-font: 48px;
  --big-font: 40px;
  --medium-font: 32px;
  --small-font: 24px;
  --smaller-font: 16px;
}

/* =========== */
/* General CSS */
/* =========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  position: relative;
}
html,
body {
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* ====== */
/* Navbar */
/* ====== */

nav {
  width: 100%;
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
}

.nav-links li:not(:first-child) {
  margin-top: var(--medium-margin);
  margin-bottom: var(--medium-margin);
}

.nav-links li a {
  color: var(--low-opacity-white);
  font-weight: 600;
  transition: 0.5s;
}

.nav-links li a:hover {
  color: var(--white);
  font-size: 5rem;
}

/* =========== */
/* Burger icon */
/* =========== */

.burger {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.divs > div {
  height: 2px;
  margin-top: var(--burger-icon);
  margin-bottom: var(--burger-icon);
  background-color: var(--white);
}

.line1 {
  width: 25px;
}
.line2 {
  width: 20px;
}
.line3 {
  width: 15px;
}
.line4 {
  width: 25px;
}

.burger p {
  text-transform: uppercase;
  color: var(--white);
}

/* ============ */
/* Close button */
/* ============ */
.divs,
.close {
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: var(--small-margin);
}
.close {
  color: var(--low-opacity-white);
  font-weight: 600;
  font-size: 1.5rem;
}

.menu-div,
.close-div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.close-div {
  cursor: pointer;
  position: absolute;
  top: 2.5rem;
  right: 5rem;
  margin-left: var(--small-margin);
}

.close-text {
  color: var(--low-opacity-white);
  text-transform: uppercase;
}

.menu,
.divs {
  display: inline-block;
}

.logo {
  color: var(--white);
}
